{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent () }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ratingstar.css') }}" />

{% endblock %}
{% block body %}
    <body>
    <br><br><br><br><br><br>
    <div class="row center">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
            <div id="desc" class="container">
                <h5 class="light">Ajouter un commentaire</h5>
                <br><br><br>
                {{ form_start(form) }}

                <section class='rating-widget'>

                    <!-- Rating Stars Box -->
                    <div class='rating-stars text-center'>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class="star">
                                <div class='success-box'>
                                    <div class='clearfix'></div>
                                    <div class='text-message'></div>
                                    <div class='clearfix'></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {{ form_widget(form.note) }}



                    {{ form_widget(form.contenu, { 'attr': {'style' : 'resize:none'}} ) }}

                </section>
                <br><br><br>
                <div class=" waves-effect waves-light btn light">
                    <input type="submit" value="Ajouter"/>
                </div>



                {{ form_end(form) }}

            </div>
        </div>
        <div class="col s12 m4 l2"></div>
    </div>
    <ul class="center">
        <li>
            <a href="{{ path('menu') }}">Retour</a>
        </li>
    </ul>
    <br><br><br><br><br><br><br>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
        $(document).ready(function(){

            /* 1. Visualizing things on Hover - See next part for action on click */
            $('#stars li').on('mouseover', function(){
                var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

                // Now highlight all the stars that's not after the current hovered star
                $(this).parent().children('li.star').each(function(e){
                    if (e < onStar) {
                        $(this).addClass('hover');
                    }
                    else {
                        $(this).removeClass('hover');
                    }
                });

            }).on('mouseout', function(){
                $(this).parent().children('li.star').each(function(e){
                    $(this).removeClass('hover');
                });
            });


            /* 2. Action to perform on click */
            $('#stars li').on('click', function(){
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                var stars = $(this).parent().children('li.star');

                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).removeClass('selected');
                }

                for (i = 0; i < onStar; i++) {
                    $(stars[i]).addClass('selected');
                }

                // JUST RESPONSE (Not needed)
                var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
                var msg = "";
                var note;
                if (ratingValue > 1) {
                    msg = "Thanks! You rated this " + ratingValue + " stars.";
                    note = ratingValue;
                }
                else {
                    msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
                    note = ratingValue;
                }
                responseMessage(msg,note);

            });


        });


        function responseMessage(msg,note) {
            $('.success-box').fadeIn(200);
            $('#appbundle_commentaire_note').val(note);
            $('.success-box div.text-message').html("<span>" + note + "</span>");
        }
    </script>
{% endblock %}