{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/stars.css') }}" media="screen,projection"/>

{% endblock %}
{% block body %}
    <div id="utilisateur" class="center container">
        <br><br>
        <h4 class="light">Description Plat</h4>
        <br><br>
        <img src="{{ asset('uploads/images/' ~ plat.imagePlat) }}" height="200px" width="400px">
        <br><br>
        <table class="striped">
            <tbody>
            <tr>
                <th class="center">Identifiant Plat</th>
                <td class="center">{{ plat.id }}</td>
            </tr>
            <tr>
                <th class="center">Nom plat</th>
                <td class="center">{{ plat.nomPlat }}</td>
            </tr>
            <tr>
                <th class="center">Categorie plat</th>
                <td class="center">{% for cat in plat.categorie %}
                        {{ cat.getLibelle() }},
                    {% endfor %}</td>
            </tr>
            <tr>
                <th class="center">Description plat</th>
                <td class="center">{{ plat.descriptionPlat }}</td>
            </tr>
            <tr>
                <th class="center">Duree de validité du plat</th>
                <td class="center">{% if plat.dureeValide %}{{ plat.dureeValide|date('d-M-y h:m') }}{% endif %}</td>
            </tr>
            <tr>
                <th class="center">Plat crée le</th>
                <td class="center">{% if plat.creeA %}{{ plat.creeA|date('d-M-y h:m:s') }}{% endif %}</td>
            </tr>
            </tbody>
        </table>
        <br><br>
        <div class=" waves-effect waves-light btn light">
            <a class="white-text" href="{{ path('plat_reserve', { 'id': plat.id }) }}">Commander</a>
        </div>
        <br><br><br>
        <div class="divider"></div>
        <br>
        <h4 class="light">Commentaire</h4>

        <div class='rating-stars text-center'>
            <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
            </ul>
        </div>

        <br>
        {% for commentaire in plat.commentaires %}

            <div class="section no-pad-bot container">
                <div class='card horizontal'>

                    <div class='card-stacked'>
                        <div class='card-content'>
                            <a href="{{ path('commentaire_show', {'id': commentaire.id}) }}">
                                <img src="{{ asset('uploads/images/' ~ app.user.imageUser) }}" alt="imageProfil"
                                     class="circle"
                                     style="border:1px rgb(225, 225, 225) solid;  max-width:65px;">
                            </a>

                            <p class='corps'>{{ commentaire.contenu }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br><br>
        <ul>
            <li>
                <div class=" waves-effect waves-light btn light">
                    <a class="white-text" href="{{ path('commentaire_new', {'id': plat.id}) }}">Ajouter</a>
                </div>
            </li>
            <br>
            <li>
                <a href="{{ path('menu') }}">Retour</a>
            </li>
        </ul>
    </div>
    <br><br>
{% endblock %}
{% block javascript %}
    {{ parent() }}

<script>
    $(document).ready(function() {

        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars').find('li').on('mouseover', function () {
            var onStar = $(this).data('value'); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                }
                else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });

    })
</script>
{% endblock %}