{% extends "base.html.twig" %}

{% block body %}
    <br><br>
    <h4 class="light center">Découvrez nos repas !</h4>
    <br>
    <div class="row container">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Rechercher un plat</label>

                </div>
            </div>
        </div>
    </div>
    <br>
    {% for plat in plats %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if 'now'|date('y-m-d h:i:s') <= plat.dureeValide|date('y-m-d h:i:s') %}
                <div class="section no-pad-bot container">
                    <div class='card horizontal'>
                        <div class='card-image'>
                            <a href="{{ path('plat_fiche', {'nom': plat.nomPlat}) }}" class="btn-floating btn-large btn-price waves-effect waves-light  red accent-2" style="position: absolute; left: 1%; top: 2%;">{% if plat.prix %}{{ plat.prix }}€{% else %}00€{% endif %}</a>
                            <img src="{{ asset('uploads/images/' ~ plat.imagePlat) }}" height="300px" width="500px">
                            <span class='card-title'>{{ plat.nomPlat }}</span>
                        </div>
                        <div class='card-stacked'>
                            <div class='card-content center'>
                                <img src="{{ asset('uploads/images/' ~ plat.getUserPoste().imageUser) }}" alt="imageProfil"
                                     class="circle"
                                     style="border:1px rgb(225, 225, 225) solid;  width:65px; height: 65px;">
                                <br><br>
                                <p class='corps'>{{ plat.descriptionPlat }}</p>
                                <br>
                                <p class='corps'><i class="tiny material-icons">timer</i>
                                <div class="duree" data-due-date="{{ plat.dureeValide|date('Y/m/d H:i:s') }}"></div>
                                </p>
                            </div>
                            <div class='card-action center'>
                                <a href='{{ path('plat_fiche', {'nom': plat.nomPlat}) }}'>Commander</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            {% else %}

            {% endif %}
        {% else %}
            {% if 'now'|date('y-m-d h:i:s') <= plat.dureeValide|date('y-m-d h:i:s') %}
                <div class="section no-pad-bot container">
                <div class='card horizontal'>
                    <div class='card-image'>
                        <a href="{{ path('fos_user_security_login') }}" class="btn-floating btn-large btn-price waves-effect waves-light red accent-2" style="position: absolute; left: 1%; top: 2%;">{% if plat.prix %}{{ plat.prix }}€{% else %}00€{% endif %}</a>
                        <img src="{{ asset('uploads/images/' ~ plat.imagePlat) }}" height="300px" width="500px">
                        <span class='card-title'>{{ plat.nomPlat }}</span>
                    </div>
                    <div class='card-stacked'>
                        <div class='card-content center'>
                            <img src="{{ asset('uploads/images/' ~ plat.getUserPoste().imageUser) }}" alt="imageProfil"
                                 class="circle"
                                 style="border:1px rgb(225, 225, 225) solid;  width:65px; height: 65px;">
                            <br><br>
                            <p class='corps'>{{ plat.descriptionPlat }}</p>
                            <br>
                            <p class='corps'><i class="tiny material-icons">timer</i>
                            <div class="duree" data-due-date="{{ plat.dureeValide|date('Y/m/d H:i:s') }}"></div>
                            </p>
                            <p>Temps épuisé</p>
                        </div>
                        <div class='card-action center'>
                            <a href='{{ path('fos_user_security_login') }}'>Commander</a>
                        </div>
                    </div>
                </div>
                </div>
                <br><br>
            {% endif %}
        {% endif %}
    {% endfor %}
    <br><br><br>
    {% block javascripts %}
        {{ parent() }}

        <script>

            $(document).ready(function () {
                'use strict';
                $('#form_titre').autocompleter({
                    url_list: '/search-article',
                    url_get: '/?term='
                });

                $("#ui-id-1").click(function(){
                    var id = $("#PlatType").val();

                    if(id.toString().length > 0){
                        $(location).attr('href', '/plat/'+id.toString());
                    }
                });



                $(".duree").each(function() {
                    $(this).countdown($(this).data("due-date"), function(event) {
                        $(this).text(event.strftime('%H:%M:%S'));
                    });
                });

                });







        </script>
    {% endblock %}
{% endblock %}