{% extends 'base.html.twig' %}

{% block body %}
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->

            <!-- END LEFT SIDEBAR NAV-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

                    <div id="profile-page" class="section">
                        <!-- profile-page-header -->
                        <div id="profile-page-header" class="card">

                            <div class="col-lg-2">

                            </div>

                            <div class="card-content">
                                <div class="row">
                                    <figure class="col s2 ratio img-responsive img-circle">
                                        <img src="{{ asset('uploads/images/' ~ user.imageUser) }}" alt="profile image" class="circle z-depth-2 responsive-img activator">
                                    </figure>
                                    <div class="col s2 offset-s1">
                                        <h4 class="card-title grey-text text-darken-4">{{ user.prenom }} {{ user.nom }}</h4>
                                        <p class="medium-small grey-text">-</p>
                                    </div>
                                    <div class="col s2 center-align">
                                        <h4 class="card-title grey-text text-darken-4">{{ user.plats | length }} <span>{% if user.plats | length == 1 %}plat{% else %}plats{% endif %}</span></h4>
                                        <p class="medium-small grey-text">-</p>
                                    </div>
                                    <div class="col s2 center-align">
                                        <h4 class="card-title grey-text text-darken-4">{{ user.noteMoyenne | slice(0,3) }} ({{ user.noteTot }})</h4>

                                        <div class="vz-review-rating-container col s12 center-align">
                                            {% if user.noteMoyenne < 1.5 %}
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne <= 2.5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne < 3.5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne <4.5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne < 5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if app.user == user %}
                                    <div class="col s1 right-align">
                                        <br>
                                        <a class="btn-floating activator waves-effect waves-light darken-2 right" href="{{ path('fos_user_profile_edit') }}">
                                            <i class="mdi-action-perm-identity glyphicon-pencil"></i>
                                        </a>

                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--/ profile-page-header -->

                        <!-- profile-page-content -->
                        <div id="profile-page-content" class="row">
                            <!-- profile-page-sidebar-->
                            <div id="profile-page-sidebar" class="col s12 m4">

                                <!-- Profile About  -->
                                <div class="card amber darken-2">
                                    <div class="card-content white-text center-align">
                                        <p class="card-title"><i class="mdi-social-group-add"></i>{{ user.noteMoyenne | slice(0,3) }} ({{ user.noteTot }})</p>
                                        <p>
                                        <div class="vz-review-rating-container col s12 center-align">
                                            {% if user.noteMoyenne < 1.5 %}
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne <= 2.5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne < 3.5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne <4.5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% elseif user.noteMoyenne < 5 %}
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                                <span class="vz-review-icon star active"></span>
                                            {% endif %}
                                        </div>
                                        </p>
                                    </div>
                                </div>
                                <!-- Profile About  -->

                                <!-- Profile About  -->
                                <div class="card light-blue">
                                    <div class="card-content white-text">
                                        <span class="card-title">A propos de moi!</span>
                                        <p>{{ user.aboutMe }}</p>
                                    </div>
                                </div>
                                <!-- Profile About  -->

                                <!-- Profile About Details  -->
                                <ul id="profile-page-about-details" class="collection z-depth-1">
                                {% if app.user == user %}

                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s12 grey-text text-darken-4 center-align"><a class="waves-effect waves-light darken-2 center" href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></div>

                                        </div>
                                    </li>
                                    {% endif %}
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Nom</div>
                                            <div class="col s7 grey-text text-darken-4 right-align">{{ user.prenom }} {{ user.nom }}</div>
                                        </div>
                                    </li>
                                    {% if app.user == user %}
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s5 grey-text darken-1"><i class="mdi-communication-email"></i>Email</div>
                                            <div class="col s7 grey-text text-darken-4 right-align">{{ user.email }}></div>

                                        </div>
                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i>Age</div>
                                            <div class="col s7 grey-text text-darken-4 right-align">{{ user.dnaiss | age }}</div>
                                        </div>
                                    </li>
                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i>Date de naissance</div>
                                            <div class="col s7 grey-text text-darken-4 right-align">{{ user.dnaiss| date('d/m/Y') }}</div>
                                        </div>
                                    </li>


                                    <li class="collection-item">
                                        <div class="row">
                                            <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i>Telephone</div>
                                            <div class="col s7 grey-text text-darken-4 right-align">{{ user.tel }}</div>
                                        </div>
                                    </li>
                                {% endif %}
                                </ul>
                                <!--/ Profile About Details  -->



                                <!-- Profile feed  -->




                            </div>
                            <!-- profile-page-sidebar-->

                            <!-- profile-page-wall -->
                            <div id="profile-page-wall" class="col s12 m8">
                                <!-- profile-page-wall-share -->
                                <div id="profile-page-wall-share" class="row">
                                    <div class="col s12">
                                        <ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">
                                            <li class="tab col s5"><a class="white-text waves-effect waves-light active" href="#profile-commentaires">Commentaires</a>
                                            </li>
                                            <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#profile-plats"><i class="mdi-image-camera-alt"></i> Plats</a>
                                            </li>
                                            <div class="indicator" style="right: 810px; left: 0px;"></div></ul>

                                        <!-- AddPhotos -->
                                        <div id="AddPhotos" class="tab-content col s12  grey lighten-4" style="display: none;">

                                        </div>
                                        <!-- CreateAlbum -->
                                        <div id="CreateAlbum" class="tab-content col s12  grey lighten-4" style="display: none;">


                                        </div>
                                    </div>
                                </div>
                                <!--/ profile-page-wall-share -->

                                <!-- profile-page-wall-posts -->
                                <div id="profile-commentaires" name="profile-commentaires" class="row">
                                    {% include 'user/commentaireShow.html.twig' %}
                                </div>

                            </div>
                            <!--/ profile-page-wall -->

                                <div id="profile-plats" name="profile-plats" class="row">
                                    {% include 'user/platShow.html.twig' %}
                                </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
        <!--end container-->

        <!-- END CONTENT -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- END WRAPPER -->

    <!-- END MAIN -->



    <!-- //////////////////////////////////////////////////////////////////////////// -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}