{% trans_default_domain 'FOSUserBundle' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <main class="center">
        <br>
        <h5 class="light-blue-text">Modification mot de passe</h5>
        <br><br>
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                    <div class='row'>
                        <div class='input-field col s12'>
                            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            {{ form_widget(form) }}
                        </div>
                    </div>

                        <input id="remember_me" name="_remember_me" type="checkbox" class="filled-in"
                               checked="checked"/>
                        <label class="light-blue-text" for="remember_me">Se souvenir de moi</label>
                        <br>
                <br><br><br>
                <button type='submit' name='btn_login' class=" waves-effect waves-light btn light">
                    <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
                </button>
            </div>
            {{ form_end(form) }}
            <ul>
                <li>
                    <a href="{{ path('user_show', { 'id': app.user.id }) }}">Retour</a>
                </li>
            </ul>
        </div>

    </div>
    <br>
    </main>

{% endblock fos_user_content %}
